*{
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body{
	background: #efefef;
	/* color: white; */
}
ul{
	list-style: none;
}	
.fix:after{
	content: '';
	display: block;
	clear: both;
}
.lt{
	float: left;
}
.rl{
	float: right;
}
a{
	text-decoration: none;
	color: #000000;
}
.sticky{
	background: #FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	color: black;
	padding: 1px 0 !important;
}
.topNavBar {
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0px;
	transition: all .5s;
	padding: 10px 0;
	/* background: #FFFFFF; */
}
	
.topNavBar .logo{
	display: block;
	font-size: 24px;
    font-family: 'Arial Black';
}
.topNavBar .logo a{
	display: inline-block;
	padding: 9px 0px;
}
.topNavBar .logo a span{
	font-size: 24px;
}
.topNavBar .logo a span.rs{
	color: #e6686a;
	margin-left: 18px;
}
.topNavBar .logo a span.card{
	color: #9a9da2;
}
.topNavBar nav a{
	color: #b7b7b7;
	font-size: 12px;
}
.topNavBar nav ul{
	color: #b7b7b7;
	font-size: 12px;
}
.topNavBar nav li{
	padding: 15px 15px;
	position: relative;
}
.topNavBar nav li ul{
	position: absolute;
	border: 1px solid #000000;
	left: 0px;
	background: #FFFFFF;
}
.topNavBar nav li ul > li{
	font-size: 14px;
	padding: 5px 2px;
}
.topNavBar nav li a:after{
	content: '';
	display: block;
	width: 0%;
	height: 3px;
	background: #e6686a;
	transition: all 1s; 
}
.topNavBar nav li:hover .active:after{
	width: 100%;
}
.topNavBar.sticky nav a {
	color: #000000;
}
.topNavBar.sticky nav ul{
	color: #000000;
}
/* banner图 */
.banner{
	width: 100%;
	height: 500px;
	background: url(../img/rs-cover.jpg) center center;
	background-size: cover;
}
.banner .mask{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
/* main图片 */
main > .card{
	max-width: 940px;
	margin: 0 auto;
	background: white;
	margin-top: 30px;
	font-size: 16px;
	margin-top: -350px;
}
main > .card > div{
	padding: 40px;
}
main > .card .picture{
	width: 38%;
}
main > .card .text{
	width: 50%;
	margin-left: 64px;
}
main > .card .text .welcome{
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	color: white;
	background: #e6686a;
	margin-top: 15px;
}
main > .card .text .welcome:after{
	content: '';
	display: block;
	position: absolute;
	left: 6px;
	bottom: -9px;
	width: 0px;
	border-top: 10px solid transparent;
	border-left: 10px solid #e6686a;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
}
main .text > .profile > h1{
	margin-top: 20px;
	font-size: 50px;
	font-weight: 700;
}
main .text > .profile p{
	margin-bottom: 20px;
}
main .text > .profile dl{
	margin-top: 20px;
}
main .text > .profile dl dt{
	width: 30%;
	padding: 5px 0;
	font-weight: 700;
}
main .text > .profile dl dd{
	width: 70%;
	padding: 5px 0;
}
main footer{
	background: #E6686A;
	text-align: center;
}
main footer a{
	display: inline-block;
	padding: 10px 10px;
}
main footer .icon{
	width: 30px;
	height: 30px;
	fill:white;
}

.downLoadPDF{
	text-align: center;
	margin-top: 30px;
}
.downLoadPDF a{
	display: inline-block;
	font-size: 14px;
	border: 1px solid #cdcfd1;
	padding: 15px 55px;
	transition: box-shadow 0.2s;
}
.downLoadPDF a:hover{
	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);;
}
.personInfo{
	text-align: center;
	margin-top: 30px;
	font-family: kai;
	font-size: 18px;
	line-height: 1.8;
}
.skill{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	margin-top: 20px;
}
.personSkill{
	max-width: 940px;
	margin: 0 auto;
	margin-top: 60px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.personSkill ul{
	padding: 30px;
}
.personSkill ul li{
	float: left;
	width: 48%;
}
.personSkill ul li:nth-child(even){
	margin-left: 30px;
}
.personSkill ul li .bar{
	height: 5px;
	background: #FAE1E1;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.personSkill ul li .bar::after{
	content: '';
	display: block;
	width: 10%;
	height: 5px;
	background: #E6686A;
	border-radius: 2px;
}
.personSkill ul li:nth-child(2) .bar::after{
	width: 20%;
}
.personSkill ul li:nth-child(3) .bar::after{
	width: 30%;
}
.personSkill ul li:nth-child(4) .bar::after{
	width: 40%;
}
.personSkill ul li:nth-child(5) .bar::after{
	width: 50%;
}
.personSkill ul li:nth-child(6) .bar::after{
	width: 60%;
}
.works{
	max-width: 940px;
	margin: 0 auto;
}
.works h2{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}
.works nav{
	text-align: center;
	margin-top: 20px;
}
.works .workChild{
	display: inline-block;
}
.works .workChild li{
	padding: 5px 10px;
	cursor: pointer;
}
.works .workChild .bar{
	display: block;
	clear: both;
	height: 5px;
	background: #FFFFFF;
	border-radius: 2px;
}
.works .workChild .bar > div{
	transition: all .4s; 
}
.works .workChild .stat1{
	width: 52px;
	height: 5px;
	background: #E6686A;
	border-radius: 2px;
}
.works .workChild .stat2{
	width: 52px;
	height: 5px;
	background: #E6686A;
	border-radius: 2px;
	margin-left: 52px;
}
.works .workChild .stat3{
	width: 110.6px;
	height: 5px;
	background: #E6686A;
	border-radius: 2px;
	margin-left: 104px;
}
/* .works .workChild li{
	border-bottom: 5px solid #FFFFFF;
	border-radius: 2px;
}
.works .workChild li:hover{
	cursor: pointer;
}
.works .workChild .line{
	border-bottom: 5px solid #E6686A;
} */
.works .picture{
	height: 600px;
	margin-top: 30px;
}
.works .picture .big{
	height: 600px;
}
.works .picture .small{
	height: 300px;
}
.works .picture .small img{
	height: 280px;
}
.works .picture .small:nth-child(3){
	margin-top: 20px;
}
.works .picture .big img{
	height: 600px;
}
.circleActive{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: #888;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}
.circleActive:after{
	content: '';
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	border-radius: 50px;
	background-color: black;
	animation: s 1.5s linear infinite;
}
.circleActive:before{
	content: '';
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	border-radius: 50px;
	background-color: black;
	animation: s 1s linear infinite;
}
@keyframes s{
	0%{
		width: 0px;
		height: 0px;
		opacity: 1;
	}
	100%{
		width: 50px;
		height: 50px;
		opacity: 0;
	}
}