*{
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body{
	/* background: black; */
	/* color: white; */
}
ul{
	list-style: none;
}	
.fix:after{
	content: '';
	display: block;
	clear: both;
}
.lt{
	float: left;
}
.rl{
	float: right;
}
a{
	text-decoration: none;
	color: #000000;
}
.topNavBar {
	width: 100%;
	margin-top: 20px;
	position: fixed;
	z-index: 2;
	top: 0px;
}
	
.topNavBar .logo{
	display: block;
	font-size: 24px;
    font-family: 'Arial Black';
}
.topNavBar .logo a span{
	font-size: 24px;
}
.topNavBar .logo a span.rs{
	color: #e6686a;
	margin-left: 8px;
}
.topNavBar .logo a span.card{
	color: #9a9da2;
}
.topNavBar nav a{
	color: #b7b7b7;
	font-size: 12px;
}
.topNavBar nav li{
	padding: 10px 15px;
}
.topNavBar nav li{
	border-bottom: 3px solid transparent;
}
.topNavBar nav li:hover{
	border-bottom: 3px solid #e6686a;
}
/* banner图 */
.banner{
	position: relative;
	width: 100%;
	height: 500px;
	background: url(../img/rs-cover.jpg) center center;
	background-size: cover;
}
.banner .mask{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
	background-color: rgba(0, 0, 0, 0.8);
}

/* main图片 */
main > .card{
	max-width: 940px;
	margin: 0 auto;
	background: white;
	margin-top: 30px;
	font-size: 16px;
}
main > .card .picture{
	width: 38%;
}
main > .card .text{
	width: 50%;
	margin-left: 64px;
}
main > .card .text .welcome{
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	color: white;
	background: #e6686a;
}
main > .card .text .welcome:after{
	content: '';
	display: block;
	position: absolute;
	left: 6px;
	bottom: -9px;
	width: 0px;
	border-top: 10px solid transparent;
	border-left: 10px solid #e6686a;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
}
.text > .profile > h1{
	margin-top: 20px;
	font-size: 50px;
	font-weight: 700;
}
.text > .profile p{
	margin-bottom: 20px;
}
.text > .profile dl{
	margin-top: 20px;
}
.text > .profile dl dt{
	width: 30%;
	padding: 5px 0;
	font-weight: 700;
}
.text > .profile dl dd{
	width: 70%;
	padding: 5px 0;
}
footer{
	background: #E6686A;
	text-align: center;
}
footer a{
	display: inline-block;
	padding: 10px 10px;
}
footer .icon{
	width: 30px;
	height: 30px;
	fill:white;
}